.dashboard-product-card {
  position: relative;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  width: calc(50% - 10px);
  height: 280px;
  margin-bottom: 10px;
}

.dashboard-offer-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  margin: 20px 0;
}

.dashboard-offer-button {
  flex: 1;
  padding: 10px 20px;
  background-color: #348972;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.dashboard-product-delete-button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 2px 2px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.dashboard-offer-decline-container {
  bottom: 10px;
  left: 5px;

}

.decline-button {
  padding: 3px 6px;
  background-color: #b70e0e;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 11px;
}

.decline-button-left-align {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.decline-button:hover {
  background-color: #950a0a;
}

.accept-offer-decline-container {
  bottom: 10px;
  right: 5px;

}

.accept-button {
  padding: 3px 6px;
  background-color: #0ec54b;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 11px;
}

.accept-button-right-align {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.accept-button:hover {
  background-color: #0ba03d;
}

.offer-status-container {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  justify-content: center;
}

.offer-status-declined {
  background-color: #b70e0e;

}

.offer-status-accepted {
  background-color: #0ec54b;

}
