.dashboard-product-card {
  position: relative;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  width: calc(50% - 10px);
  height: 280px;
  margin-bottom: 10px;
}

.dashboard-offer-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  margin: 20px 0;
}

.dashboard-offer-button {
  flex: 1;
  padding: 10px 20px;
  background-color: #348972;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.dashboard-product-delete-button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 2px 2px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.dashboard-offer-decline-container {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.decline-button {
  padding: 5px 10px;
  background-color: #b70e0e;
  color: white;
  border-radius: 21px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.decline-button:hover {
  background-color: #950a0a;
}
