.favorite-icon-container {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  margin-left: 10px;
}
.container-full {
  position: relative;
  padding: 20px;
}

.container-greetings {
  width: 100%;
}

.dropdown {
  margin-bottom: 20px;
  margin-left: 30px;
}

.category-button {
  width: 300px;
  padding: 10px 20px;
  background-color: #4a978bb3;
  color: white;
  border-radius: 21px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  transition: transform 0.4s ease-in-out;
  opacity: 10;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.send-offer-button-container {
  position: absolute;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 300px;
}

.user-button {
  padding: 15px 20px;
  background-color: #0b7178;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.4s ease;
  width: 320px;
  height: 60px;
  display: inline-block;
}

.user-button:hover {
  background-color: #0a504b;
}

.container-white {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}
