// .container-greetings{
//   text-align: right;
// }
.container-full {
  margin: 35px;
  }

  .container-white {
    background-color: white;
    height: 50vh;
    padding: 4vw;
    border-radius: 21px;
  }

  .carousel-item {
    backface-visibility:unset!important;
  }

  .dropdown-toggle {
    width: 348px;
    margin-bottom: 20px;
    margin-top: 50px;
    color: black;
    background: #DDFEF6;
    height: 42px;
    border-radius: 21px;
    border: 0;
  }

  .container-greetings-message {
  text-align: right;
  color: #348972;
  }

  h4 {
    font-size: 18px;
  }

  h1 {
    font-size:32px;
  }
  .send-offer-button-container {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    box-shadow: #DDFEF6;
  }

  .user-button {
    padding: 10px 20px;
    background-color: #114235;
    color: white;
    border-radius: 21px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .user-button:hover {
    background-color: #0b1d16;
  }
