body {
  margin: 40px;
}

.dark-gray-text {
  color: #333333;
}

.styled-input input[type="text"],
.styled-input select,
.styled-input textarea,
.styled-input input[type="integer"] {
  width: 300px;
  margin-left: 5px;
  margin-top: 1px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: #d2efe7;
  border: 1px solid #ccc;
}
