.profile-picture-placeholder {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
}


.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-right: 16px;
}

.container-greetings {
  text-align: center;
  margin: 30px 0px;
}

.container-greetings h1 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.container-bio {
  margin-bottom: 40px;
}

.container-bio h3 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
}

.container-bio ul {
  list-style-type: none;
  padding: 0;
}

.container-bio li {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.profile-product-card {
  position: relative;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  width: calc(50% - 10px);
  height: 300px;
  margin-bottom: 10px;
}

.profile-product-image {
  height: 50%;
  /* 50% of the card height */
  overflow: hidden;
}

.profile-product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.profile-product-info {
  padding: 2px;
  margin: 0 0 0 0;
}

.profile-product-title {
  font-size: .8em;
  color: #000000;
  margin: 0 0 0 0;
}

.profile-product-description {
  font-size: .6em;
  color: #666;
  margin: 0 0 0 0;
}


.profile-product-actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 0;
  align-items: flex-end;
}


.profile-product-edit-button {
  position: absolute;
  bottom: 10px; // Adjust as needed
  left: 10px; // Adjust as needed
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 21px;
  font-size: 0.7em;
  min-width: 60px;
  text-align: center;
}



.profile-product-delete-button {
  position: absolute;
  bottom: 10px; // Adjust as needed
  right: 10px; // Adjust as needed
  padding: 2px 2px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


@media (min-width: 768px) {
  .wishlist-card {
    width: calc(33.333% - 20px);
    /* Three columns on tablets and above */
  }
}

@media (min-width: 1024px) {
  .wishlist-card {
    width: calc(25% - 20px);
    /* Four columns on desktops and above */
  }
}
