.dark-gray-text {
  color: #333333;
  border: 0px;
}

.circle-input {
  background-color: #d2efe7;
  height: 248px;
  width: 248px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  opacity: 100%;
  box-shadow: 1px 1px 4px rgba(3, 3, 3, 0.2);
}

.styled-input {
  margin: auto;
  width: 296px;
}

.styled-input input[type="text"],
.styled-input select,
.styled-input textarea {
  margin-bottom: 5px;
  border-radius: 21px;
  padding: 21px;
  background-color: #d2efe7;
  border: 0px;
  width: 296px;
  height: 40px;
  box-shadow: 1px 1px 4px rgba(3, 3, 3, 0.2);
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #635a5a;
  box-shadow: 1px 1px 4px rgba(3, 3, 3, 0.2);
}

.narrow-dropdown-categories {
  padding: 21px;
  background-color: #d2efe7;
  border-radius: 21px;
  height: 4px;
  width: 296px;
  margin: auto;
  box-shadow: 1px 1px 4px rgba(3, 3, 3, 0.2);
}

.submit-button {
  background: #348972;
  color: white;
  width: 296px;
  margin: auto;
  box-shadow: 1px 1px 4px rgba(3, 3, 3, 0.2);
}

textarea {
  margin: auto;
  border: 0px;
  background-color: #d2efe7;
  border-radius: 21px;
  height: 40px;
  box-shadow: 1px 1px 4px rgba(3, 3, 3, 0.2);
}

input {
  margin: auto;
  background-color: #d2efe7;
  border-radius: 21px;
  height: 40px;
  border: 0px;
  width: 296px;
  box-shadow: 1px 1px 4px rgba(3, 3, 3, 0.2);
}
