.product-details {

  color: #333333;
}

.product-image img {
  display: block;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 40px;
  size: 100%;
}



.product-info {
  margin-left: 20px;
  margin-right:20px

}

.product-actions {
  margin-left: 30px;
  margin-right: 30px
}


.button-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.button {
  flex: 1;
  padding: 10px 20px;

  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100px

}

.btn   {
  color: #054b22;
  transition: 0.3s ease;
}

.btn:hover {
  color: #333333;
}

.close-button {
 .cls-1 {
  fill: #000;
  stroke-width: 0px;
 }

 .cls-2 {
  fill: none;
  stroke: #000;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  }
}
