.greetings-text{
  text-align: center;
  margin: 20px;
  background-color: azure;
  border-radius: 15px;
  padding: 5px;
}
.zhaopian-container{
  width: 150px;
}

.zhaopian2-container{
  width: 150px;
}

.product-photoinfo-container{
  background-color: azure;
  padding: 5px;
  margin: 20px;
  border-radius: 15px;
}

.another-user-text{
  text-align: center;
  margin: 20px;
  padding: 5px;
}

.recieved-user-itemlist-container{
  background-color: azure;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;

}
.button-container{
  display: flex;
  justify-content: center;
}
.container h2 {
  margin-top: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
  color: #aaa;
}
.close:hover {
  color: #666;
}
button {
  padding: 8px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #097A69;
  color: white;
  cursor: pointer;
  position: relative;
  justify-content: center;
}
button:hover {
  background-color: #45A049;
}

.recieved-button-container{
  justify-content: center;
  margin-bottom: 10px;
  display: flex;
  padding: 10px;
}
