.greetings-text{
  text-align: center;
  margin-top: 10px;
}
.zhaopian-container{
  width: 150px;
}

.product-photoinfo-container{
  background-color: azure;
  padding: 5px;
  margin: 20px;
  border-radius: 15px;
}

.product-photoinfo-container {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 10px;
  border: 1px solid #434343;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.zhaopian-container {
  flex: 1;
}

.offer-deal-description-container {
  flex: 2;
}

.product-image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.received-product-image{
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.product-title-container {
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: #333;
}

.product-description-container {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #555;
}

.another-user-text{
  text-align: center;
  margin: 20px;
  padding: 5px;
}

.recieved-user-itemlist-container{
  background-color: azure;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
  border: 1px solid #757575;
}
.button-container{
  display: flex;
  justify-content: center;
}
.container h2 {
  margin-top: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
  color: #aaa;
}
.close:hover {
  color: #666;
}
button {
  padding: 8px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 15px;
  background-color: #097A69;
  color: white;
  cursor: pointer;
  position: relative;
  justify-content: center;
}
button:hover {
  background-color: #45A049;
}

.recieved-button-container{
  justify-content: center;
  margin-bottom: 20px;
  display: flex;
  padding: 10px;
}
