.sent-container{
  text-align: center;
  justify-content: center;
  margin: 20px;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: #333;
}

.button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
}

.button:hover {
  transform: scale(1.05);
}

button.cancel {
  background-color: #3a7ca5;
}

button.cancel:hover {
  background-color: #306280;
}

.card{
  background-color: #DDFEF6;
  text-align: center;
  justify-content: center;
  padding: 6px;
  border-radius: 15px;
}
.sent-offer-container{
  margin: 15px;
  box-shadow: #393838;
}
