.wishlist-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  // padding: 10px;
}

.wishlist-card {
  position: relative;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  width: calc(50% - 10px);
  height: 280px;
  margin-bottom: 10px;
}

.wishlist-product-image {
  height: 50%;
  /* 50% of the card height */
  overflow: hidden;
}

.wishlist-product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.product-info {
  padding: 2px;
  margin: 0 0 0 0;
}

.product-title {
  font-size: .8em;
  color: #000000;
  margin: 0 0 0 0;
}

.product-background {
  font-size: .8em;
  color: #000000;
  margin: 0 0 0 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  border-radius: 2px;
}

.product-description {
  font-size: .6em;
  color: #666;
  margin: 0 0 0 0;
}


.product-actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 0;
  align-items: flex-end;
}


.wishlist-send-and-offer-button {
  position: absolute;
  bottom: 10px; // Adjust as needed
  left: 10px; // Adjust as needed
  color: #fff;
  padding: 2px 2px;
  text-decoration: none;
  border-radius: 2px;
  font-size: 0.7em;
  min-width: 60px;
  text-align: center;
}

.delete-button {
  position: absolute;
  bottom: 10px; // Adjust as needed
  right: 10px; // Adjust as needed
  padding: 2px 2px;
  color: white; // Example styling for the delete button
  border: none; // Example styling for the delete button
  border-radius: 5px; // Example styling for the delete button
  cursor: pointer; // Example styling for the delete button
  text-decoration: none;
}



@media (min-width: 768px) {
  .wishlist-card {
    width: calc(33.333% - 20px);
    /* Three columns on tablets and above */
  }
}

@media (min-width: 1024px) {
  .wishlist-card {
    width: calc(25% - 20px);
    /* Four columns on desktops and above */
  }
}
