<%#
<button onclick="window.history.go(-2); return false;" >X</button> %>

<div class="profile-container">
  <img src="https://wallpapers.com/images/featured/cool-profile-picture-87h46gcobjl5e4xu.jpg" class="card-img-top" alt="...">
  <h1> Hello, <%= current_user.id %> </h1>
</div>

<br>
<div class="create-card">
   <h5>Processing</h5>
    <div class="create-product-container">
     <img src="" alt="pending-product-img">
      <div class="item-delete">
        <%= image_tag "icons/btn trash.svg", style: "width: 25px" %>
    </div>
   </div>
   <p>See More</p>
  </div>

  <br>

<div class="received-card">
   <h5>Finished</h5>
    <div class="received-product-container">
     <img src="" alt="received-product-img">
   </div>
     <p>See More</p>
  </div>

  <br>
<div class = "button-container">
<button type="button" class="btn btn-dark">Keep Circularing</button>
</div>
