<div class="profile-container">
  <%# <label for="profilePic">Profile Picture:</label>
    <input type="file" id="profilePic" name="profilePic" accept="image/*" required> %>
<img src="https://wallpapers.com/images/featured/cool-profile-picture-87h46gcobjl5e4xu.jpg" class="card-img-top" alt="...">
<h1>Hello! current_user</h1>
  </div>
<br>
  <div calss="bio-container">
    <p>BIO</p>
  </div>
<div class="create-card">
   <h5>Your Item List</h5>
    <div class="create-product-container">
     <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-card-40-iphone15hero-202309_FMT_WHH?wid=508&hei=472&fmt=p-jpg&qlt=95&.v=1693086369781" class="card-img-top" alt="...">
    <p>Apple Inc. </p>
   </div>
  </div>

  <br>

<div class="received-card">
   <h5>Matched Offer List</h5>
    <div class="received-product-container">
     <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-card-40-iphone15hero-202309_FMT_WHH?wid=508&hei=472&fmt=p-jpg&qlt=95&.v=1693086369781" class="card-img-top" alt="...">
    <p>Apple Inc. </p>
   </div>
  </div>

  <br>
<div class = "button-container">
<button type="button" class="btn btn-dark">Keep Circularing</button>
</div>
