<div class="profile-container">
  <img src="https://wallpapers.com/images/featured/cool-profile-picture-87h46gcobjl5e4xu.jpg" class="card-img-top" alt="...">
  <h1>Hello, <%= current_user.first_name %></h1>
</div>
<div class="button-container">

  <%= link_to "Sent Offer", dashboard_sent_path, class: "button" %>
  <%= link_to "Received Offer", dashboard_received_path, class: "button" %>
  <%= link_to "Finished Offer", dashboard_finished_path, class: "button" %>
</div>
