<h1>Last exchanges </h1>
<hr>
  <% @received_offers.each do |offer| %>
    <% their_product = offer.products.first.title %>
    <% counter_offer_product = offer.products.second&.title %>
    <% other_user = User.find(offer.user_receiver_id) %>
    <div>
      <h2> <%= counter_offer_product %> X  <%= their_product %> </h2>
      <h3>Status: <%= offer.status&.capitalize %></h3>
      <% if offer.accepted?%>
      <%= link_to "Send message", messages_path, class: "button"  %>
      <% end %>
      <hr>
    </div>
  <% end %>
