<div class="container-full">
  <div class="container-greetings">
    <h1> Hello, <%= current_user.first_name %></h1>
      <div class="container-greetings-message">
        <h4>Your wishlist</h4>
    </div>
  </div>


    <% @wishlist.products.each do |product|  %>
      <h3><%= product.title %></h3>
      <%= link_to "Remove", product_wishlist_path(product, wishlist_id: @wishlist.id), style: "width:100px", class:"btn btn-info", data: {turbo_method: :delete, turbo_confirm: "Sure?"}%>
      <%= link_to 'send an offer', dashboard_path, style: "width:100px", class:"btn btn-info" %>
      <% end %>
  </div>

  </div>
