<div class="greetings">

</div>


<h1> product index </h1>


<div class="container">
<ul>
  <% @products.each do |product| %>
    <li><%= product.title %> - send offer </li>
  <% end %>
  <li>THIS</li>
  <li>- brings me to my dashboard with this offer on top</li>
</ul>
</div>
