<div class="container">
  <div class="product-submit-page">
    <div>
      <h1 class="dark-gray-text">Add Your Item!</h1>
    </div>
    <div>
      <form id="productForm" class="dark-gray-text" action="/products" method="post" enctype="multipart/form-data">
        <div class="styled-input">
          <input type="text" id="title" name="product[title]" placeholder="Title">
        </div>
        <div class="styled-input">
          <select id="category_id" name="product[category_id]" class="narrow-dropdown-categories">
            <% Category.all.each do |category| %>
              <option value="<%= category.id %>"><%= category.name %></option>
            <% end %>
          </select>
        </div>
        <div class="styled-input">
          <select id="condition" name="product[condition]">
            <option value="New">New</option>
            <option value="Used">Used</option>
            <option value="Refurbished">Refurbished</option>
          </select>
        </div>
        <div class="styled-input">
          <input type="number" id="price" name="product[price]" placeholder="Price">
        </div>
        <div class="styled-input">
          <textarea id="description" name="product[description]" rows="5" placeholder="Description"></textarea>
        </div>
        <div class="styled-input">
          <input type="file" id="photo" name="product[photo]" class="circle-input">
        </div>
        <div class="styled-input">
          <button type="submit" class="submit-button">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  document.getElementById('productForm').addEventListener('submit', function(event) {
    var title = document.getElementById('title').value;
    var category = document.getElementById('category_id').value;
    var condition = document.getElementById('condition').value;
    var price = document.getElementById('price').value;
    var description = document.getElementById('description').value;
    var photo = document.getElementById('photo').value;

    if (!title || !category || !condition || !price || !description || !photo) {
      alert('Please fill in all fields.');
      event.preventDefault(); // Prevent form submission
    }
  });
</script>
